# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
frontend/.idea
node_modules
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
folders.txt
folder_structure.txt

backend/.env
coverage
.idea
backend/uploads/*
!backend/uploads/.gitkeep
